* {
  background-color: rgb(222, 253, 253);
}

h1,
p,
a {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: black;
  background: none !important;
  text-align: center;
  text-decoration: none;
}

#parent-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10%;
  padding: 2%;
}

/* Figure out how to create a stacked cards look for the homepage ones */
.flashcard-design {
  border: solid 2px black;
  border-radius: 15%;
  box-shadow: 5px 5px;
  height: 270px;
  width: 180px;
  background-color: pink;
  padding: 5px;
  line-height: 220px;
}

.add-deck-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-form-container {
  display: flex;
  border: 2px rgb(13, 0, 255) solid;
  justify-content: center;
  align-items: center;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.parent-deck-library {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.library-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.deck-container {
  border: solid 2px black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 20px;
  background-color: white;

}

.deck-content {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: transparent;
}

.deck-title, .deck-author {
  background-color: transparent;
}

.deck-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.flashcard-container {
  border: solid 2px black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 20px;
  background-color: white;
} 

.flashcard-content {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: transparent;
}

.add-deck-btn {
  
}

.flashcard-design:hover {
  background-color: rgb(254, 231, 235);
}

/* Figure out how to make card shift diagonally downwards */
.flashcard-design:active {
  transform: translateY(10px);
  /* transform: translateZ(-9px); */
}

#active-flashcard {
  border: solid 2px black;
  border-radius: 15%;
  height: 380px;
  width: 280px;
  background-color: pink;
  padding: 5px;
  line-height: 220px;
}

#active-flashcard-inner {
  border: solid 2px black;
  border-radius: 15%;
  height: 380px;
  width: 280px;
  background-color: green;
  padding: 5px;
  line-height: 220px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card {
  transform: rotateY(180deg);
}
