* {
  background-color: rgb(222, 253, 253);
}

h1,
p,
a {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: black;
  background: none !important;
  text-align: center;
  text-decoration: none;
}

#parent-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10%;
  padding: 2%;
}

/* Figure out how to create a stacked cards look for the homepage ones */
.flashcard-design {
  border: solid 2px black;
  border-radius: 15%;
  box-shadow: 5px 5px;
  height: 270px;
  width: 180px;
  background-color: pink;
  padding: 5px;
  line-height: 220px;
}

.flashcard-design:hover {
  background-color: rgb(254, 231, 235);
}

/* Figure out how to make card shift diagonally downwards */
.flashcard-design:active {
  transform: translateY(10px);
  /* transform: translateZ(-9px); */
}
